USE [Workflow]
GO
/****** Object:  Table [dbo].[WF_Definicion]    Script Date: 21/1/2026 08:43:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_Definicion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Version] [int] NOT NULL,
	[JsonDef] [nvarchar](max) NOT NULL,
	[Activo] [bit] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[Key] [nvarchar](80) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_DocTipo]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_DocTipo](
	[DocTipoId] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[ContextPrefix] [nvarchar](30) NOT NULL,
	[PlantillaPath] [nvarchar](500) NULL,
	[RutaBase] [nvarchar](500) NULL,
	[EsActivo] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NULL,
	[RulesJson] [nvarchar](max) NULL,
 CONSTRAINT [PK_WF_DocTipo] PRIMARY KEY CLUSTERED 
(
	[DocTipoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_WF_DocTipo_Codigo] UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_WF_DocTipo_ContextPrefix] UNIQUE NONCLUSTERED 
(
	[ContextPrefix] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_DocTipoReglaExtract]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_DocTipoReglaExtract](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocTipoId] [int] NOT NULL,
	[Campo] [nvarchar](100) NOT NULL,
	[Regex] [nvarchar](1000) NOT NULL,
	[Grupo] [int] NOT NULL,
	[Orden] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
	[TipoDato] [nvarchar](30) NULL,
	[Ejemplo] [nvarchar](500) NULL,
	[HintLabel] [nvarchar](100) NULL,
	[HintContext] [nvarchar](500) NULL,
	[Modo] [nvarchar](20) NULL,
 CONSTRAINT [PK_WF_DocTipoReglaExtract] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_DocumentoPlantilla]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_DocumentoPlantilla](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DocumentoTipoId] [int] NOT NULL,
	[Version] [int] NOT NULL,
	[RegexPattern] [nvarchar](max) NULL,
	[RegexOptions] [varchar](200) NULL,
	[CamposJson] [nvarchar](max) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_DocumentoTipo]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_DocumentoTipo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Formato] [varchar](10) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_EscalamientoRegla]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_EscalamientoRegla](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProcesoKey] [nvarchar](50) NOT NULL,
	[RolOrigen] [nvarchar](200) NOT NULL,
	[RolDestino] [nvarchar](200) NOT NULL,
	[MinutosVencida] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_Instancia]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_Instancia](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[WF_DefinicionId] [int] NOT NULL,
	[Estado] [nvarchar](30) NOT NULL,
	[DatosEntrada] [nvarchar](max) NULL,
	[DatosContexto] [nvarchar](max) NULL,
	[FechaInicio] [datetime] NOT NULL,
	[FechaFin] [datetime] NULL,
	[CreadoPor] [nvarchar](100) NULL,
	[TenantId] [int] NULL,
	[ProcesoKey] [nvarchar](50) NULL,
	[DocTipoId] [int] NULL,
	[ScopeKey] [nvarchar](100) NULL,
	[EmpresaKey] [nvarchar](100) NULL,
	[ParentInstanciaId] [bigint] NULL,
	[ParentNodoId] [nvarchar](50) NULL,
	[RootInstanciaId] [bigint] NULL,
	[Depth] [int] NULL,
	[CorrelationId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_InstanciaLog]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_InstanciaLog](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[WF_InstanciaId] [bigint] NOT NULL,
	[FechaLog] [datetime] NOT NULL,
	[Nivel] [nvarchar](20) NOT NULL,
	[Mensaje] [nvarchar](4000) NULL,
	[NodoId] [nvarchar](100) NULL,
	[NodoTipo] [nvarchar](100) NULL,
	[Datos] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_Queue]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_Queue](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Queue] [nvarchar](100) NOT NULL,
	[CorrelationId] [nvarchar](100) NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[DueAt] [datetime] NULL,
	[Priority] [int] NOT NULL,
	[Processed] [bit] NOT NULL,
	[ProcessedAt] [datetime] NULL,
	[Attempts] [int] NOT NULL,
	[LastError] [nvarchar](4000) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_QueueMessage]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_QueueMessage](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Broker] [nvarchar](50) NOT NULL,
	[Queue] [nvarchar](200) NOT NULL,
	[Payload] [nvarchar](max) NOT NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Intentos] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_ScopeRegla]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_ScopeRegla](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WF_DefinicionId] [int] NULL,
	[CampoJson] [nvarchar](200) NOT NULL,
	[MatchTipo] [nvarchar](20) NOT NULL,
	[MatchValor] [nvarchar](200) NOT NULL,
	[ScopeKey] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_Setting]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_Setting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [nvarchar](200) NOT NULL,
	[ScopeKey] [nvarchar](100) NULL,
	[Value] [nvarchar](max) NOT NULL,
	[Activo] [bit] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_Tarea]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_Tarea](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[WF_InstanciaId] [bigint] NOT NULL,
	[NodoId] [nvarchar](50) NOT NULL,
	[NodoTipo] [nvarchar](100) NOT NULL,
	[Titulo] [nvarchar](200) NOT NULL,
	[Descripcion] [nvarchar](max) NULL,
	[RolDestino] [nvarchar](100) NULL,
	[UsuarioAsignado] [nvarchar](100) NULL,
	[Estado] [nvarchar](20) NOT NULL,
	[Resultado] [nvarchar](50) NULL,
	[FechaCreacion] [datetime] NOT NULL,
	[FechaVencimiento] [datetime] NULL,
	[FechaCierre] [datetime] NULL,
	[Datos] [nvarchar](max) NULL,
	[ScopeKey] [nvarchar](100) NULL,
	[AsignadoA] [nvarchar](100) NULL,
	[OrigenTareaId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_User]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_User](
	[UserKey] [nvarchar](200) NOT NULL,
	[DisplayName] [nvarchar](200) NULL,
	[Activo] [bit] NOT NULL,
	[FechaAlta] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_UserPermiso]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_UserPermiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserKey] [nvarchar](200) NOT NULL,
	[Permiso] [nvarchar](50) NOT NULL,
	[ProcesoKey] [nvarchar](50) NULL,
	[ScopeKey] [nvarchar](50) NULL,
	[VerTodo] [bit] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_UsuarioRol]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_UsuarioRol](
	[Usuario] [nvarchar](100) NOT NULL,
	[Rol] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_WF_UsuarioRol] PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC,
	[Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WF_UsuarioScope]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WF_UsuarioScope](
	[Usuario] [nvarchar](100) NOT NULL,
	[ScopeKey] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_WF_UsuarioScope] PRIMARY KEY CLUSTERED 
(
	[Usuario] ASC,
	[ScopeKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workflow]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workflow](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowEdge]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowEdge](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowVersionId] [int] NOT NULL,
	[FromNodeId] [nvarchar](50) NOT NULL,
	[ToNodeId] [nvarchar](50) NOT NULL,
	[Condition] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowNode]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowNode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowVersionId] [int] NOT NULL,
	[NodeId] [nvarchar](50) NOT NULL,
	[NodeType] [nvarchar](200) NOT NULL,
	[Label] [nvarchar](200) NULL,
	[ParamsJson] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkflowVersion]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkflowVersion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkflowId] [int] NOT NULL,
	[VersionNumber] [int] NOT NULL,
	[JsonPayload] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[WF_Definicion] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[WF_Definicion] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[WF_Definicion] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[WF_DocTipo] ADD  CONSTRAINT [DF_WF_DocTipo_EsActivo]  DEFAULT ((1)) FOR [EsActivo]
GO
ALTER TABLE [dbo].[WF_DocTipo] ADD  CONSTRAINT [DF_WF_DocTipo_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WF_DocTipoReglaExtract] ADD  CONSTRAINT [DF_WF_DocTipoReglaExtract_Grupo]  DEFAULT ((1)) FOR [Grupo]
GO
ALTER TABLE [dbo].[WF_DocTipoReglaExtract] ADD  CONSTRAINT [DF_WF_DocTipoReglaExtract_Orden]  DEFAULT ((1)) FOR [Orden]
GO
ALTER TABLE [dbo].[WF_DocTipoReglaExtract] ADD  CONSTRAINT [DF_WF_DocTipoReglaExtract_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[WF_DocTipoReglaExtract] ADD  CONSTRAINT [DF_WF_DocTipoReglaExtract_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WF_DocumentoPlantilla] ADD  DEFAULT ((1)) FOR [Version]
GO
ALTER TABLE [dbo].[WF_DocumentoPlantilla] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[WF_DocumentoPlantilla] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[WF_DocumentoTipo] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[WF_EscalamientoRegla] ADD  DEFAULT ((0)) FOR [MinutosVencida]
GO
ALTER TABLE [dbo].[WF_EscalamientoRegla] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[WF_EscalamientoRegla] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WF_Instancia] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[WF_Instancia] ADD  DEFAULT (getdate()) FOR [FechaInicio]
GO
ALTER TABLE [dbo].[WF_InstanciaLog] ADD  DEFAULT (getdate()) FOR [FechaLog]
GO
ALTER TABLE [dbo].[WF_InstanciaLog] ADD  DEFAULT ('Info') FOR [Nivel]
GO
ALTER TABLE [dbo].[WF_Queue] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WF_Queue] ADD  DEFAULT ((0)) FOR [Priority]
GO
ALTER TABLE [dbo].[WF_Queue] ADD  DEFAULT ((0)) FOR [Processed]
GO
ALTER TABLE [dbo].[WF_Queue] ADD  DEFAULT ((0)) FOR [Attempts]
GO
ALTER TABLE [dbo].[WF_QueueMessage] ADD  CONSTRAINT [DF_WF_QueueMessage_Estado]  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[WF_QueueMessage] ADD  CONSTRAINT [DF_WF_QueueMessage_Intentos]  DEFAULT ((0)) FOR [Intentos]
GO
ALTER TABLE [dbo].[WF_QueueMessage] ADD  CONSTRAINT [DF_WF_QueueMessage_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[WF_Setting] ADD  CONSTRAINT [DF_WF_Setting_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[WF_Setting] ADD  CONSTRAINT [DF_WF_Setting_UpdatedAt]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[WF_Tarea] ADD  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[WF_User] ADD  CONSTRAINT [DF_WF_User_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[WF_User] ADD  CONSTRAINT [DF_WF_User_FechaAlta]  DEFAULT (getdate()) FOR [FechaAlta]
GO
ALTER TABLE [dbo].[WF_UserPermiso] ADD  CONSTRAINT [DF_WF_UserPermiso_VerTodo]  DEFAULT ((0)) FOR [VerTodo]
GO
ALTER TABLE [dbo].[WF_UserPermiso] ADD  CONSTRAINT [DF_WF_UserPermiso_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Workflow] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Workflow] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WorkflowEdge] ADD  DEFAULT ('always') FOR [Condition]
GO
ALTER TABLE [dbo].[WorkflowVersion] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[WF_DocumentoPlantilla]  WITH CHECK ADD FOREIGN KEY([DocumentoTipoId])
REFERENCES [dbo].[WF_DocumentoTipo] ([Id])
GO
ALTER TABLE [dbo].[WF_Instancia]  WITH CHECK ADD  CONSTRAINT [FK_WF_Instancia_Def] FOREIGN KEY([WF_DefinicionId])
REFERENCES [dbo].[WF_Definicion] ([Id])
GO
ALTER TABLE [dbo].[WF_Instancia] CHECK CONSTRAINT [FK_WF_Instancia_Def]
GO
ALTER TABLE [dbo].[WF_InstanciaLog]  WITH NOCHECK ADD  CONSTRAINT [FK_WF_InstanciaLog_Inst] FOREIGN KEY([WF_InstanciaId])
REFERENCES [dbo].[WF_Instancia] ([Id])
GO
ALTER TABLE [dbo].[WF_InstanciaLog] NOCHECK CONSTRAINT [FK_WF_InstanciaLog_Inst]
GO
ALTER TABLE [dbo].[WF_UserPermiso]  WITH CHECK ADD  CONSTRAINT [FK_WF_UserPermiso_User] FOREIGN KEY([UserKey])
REFERENCES [dbo].[WF_User] ([UserKey])
GO
ALTER TABLE [dbo].[WF_UserPermiso] CHECK CONSTRAINT [FK_WF_UserPermiso_User]
GO
ALTER TABLE [dbo].[WorkflowEdge]  WITH CHECK ADD  CONSTRAINT [FK_WorkflowEdge_WorkflowVersion] FOREIGN KEY([WorkflowVersionId])
REFERENCES [dbo].[WorkflowVersion] ([Id])
GO
ALTER TABLE [dbo].[WorkflowEdge] CHECK CONSTRAINT [FK_WorkflowEdge_WorkflowVersion]
GO
ALTER TABLE [dbo].[WorkflowNode]  WITH CHECK ADD  CONSTRAINT [FK_WorkflowNode_WorkflowVersion] FOREIGN KEY([WorkflowVersionId])
REFERENCES [dbo].[WorkflowVersion] ([Id])
GO
ALTER TABLE [dbo].[WorkflowNode] CHECK CONSTRAINT [FK_WorkflowNode_WorkflowVersion]
GO
ALTER TABLE [dbo].[WorkflowVersion]  WITH CHECK ADD  CONSTRAINT [FK_WorkflowVersion_Workflow] FOREIGN KEY([WorkflowId])
REFERENCES [dbo].[Workflow] ([Id])
GO
ALTER TABLE [dbo].[WorkflowVersion] CHECK CONSTRAINT [FK_WorkflowVersion_Workflow]
GO
/****** Object:  StoredProcedure [dbo].[WF_Escalamiento_ConsumirYAplicar]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[WF_Escalamiento_ConsumirYAplicar]
    @Take int = 20
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Ahora datetime = GETDATE();

    ;WITH cte AS (
        SELECT TOP (@Take)
            q.Id,
            q.Payload
        FROM dbo.WF_Queue q WITH (ROWLOCK, READPAST, UPDLOCK)
        WHERE q.Queue = 'wf.escalamiento'
          AND q.Processed = 0
          AND (q.DueAt IS NULL OR q.DueAt <= @Ahora)
        ORDER BY q.Priority DESC, q.CreatedAt, q.Id
    )
    SELECT * INTO #msgs FROM cte;

    IF NOT EXISTS (SELECT 1 FROM #msgs)
        RETURN;

    DECLARE
        @MsgId bigint,
        @Payload nvarchar(max),
        @TareaId bigint;

    DECLARE cur CURSOR LOCAL FAST_FORWARD FOR
        SELECT Id, Payload FROM #msgs;

    OPEN cur;
    FETCH NEXT FROM cur INTO @MsgId, @Payload;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            SET @TareaId = TRY_CONVERT(bigint, JSON_VALUE(@Payload, '$.tareaId'));

            IF @TareaId IS NOT NULL
            BEGIN
                DECLARE
                    @ProcesoKey nvarchar(50),
                    @RolActual nvarchar(200),
                    @Vence datetime;

                SELECT
                    @ProcesoKey = i.ProcesoKey,
                    @RolActual  = t.RolDestino,
                    @Vence      = t.FechaVencimiento
                FROM dbo.WF_Tarea t
                JOIN dbo.WF_Instancia i ON i.Id = t.WF_InstanciaId
                WHERE t.Id = @TareaId
                  AND t.Estado = 'Pendiente';

                IF @ProcesoKey IS NOT NULL AND @RolActual IS NOT NULL
                BEGIN
                    DECLARE @NuevoRol nvarchar(200);

                    SELECT TOP 1
                        @NuevoRol = r.RolDestino
                    FROM dbo.WF_EscalamientoRegla r
                    WHERE r.Activo = 1
                      AND r.ProcesoKey = @ProcesoKey
                      AND r.RolOrigen = @RolActual
                      AND r.MinutosVencida <= DATEDIFF(minute, @Vence, @Ahora)
                    ORDER BY r.MinutosVencida DESC;

                    IF @NuevoRol IS NOT NULL AND @NuevoRol <> @RolActual
                    BEGIN
                        UPDATE dbo.WF_Tarea
                        SET RolDestino = @NuevoRol,
                            Datos = JSON_MODIFY(
                                        ISNULL(Datos,'{}'),
                                        '$.escaladoRol',
                                        @NuevoRol
                                    )
                        WHERE Id = @TareaId;
                    END
                END
            END

            UPDATE dbo.WF_Queue
            SET Processed   = 1,
                ProcessedAt = @Ahora,
                Attempts    = Attempts + 1
            WHERE Id = @MsgId;
        END TRY
        BEGIN CATCH
            UPDATE dbo.WF_Queue
            SET Attempts = Attempts + 1,
                LastError = ERROR_MESSAGE()
            WHERE Id = @MsgId;
        END CATCH

        FETCH NEXT FROM cur INTO @MsgId, @Payload;
    END

    CLOSE cur;
    DEALLOCATE cur;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Gerente_EnCurso_MiAlcance]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[WF_Gerente_EnCurso_MiAlcance]
    @UserKey nvarchar(200)
AS
BEGIN
    SET NOCOUNT ON;
	-- Bandeja “En curso (Mi alcance)”
    -- Si tiene VerTodo=1, devolvemos todo (sin filtrar scope)
    IF EXISTS (
        SELECT 1
        FROM dbo.WF_UserPermiso p
        WHERE p.UserKey=@UserKey
          AND p.Permiso='GERENTE_DASH'
          AND p.Activo=1
          AND p.VerTodo=1
    )
    BEGIN
        SELECT TOP 200
            i.Id, i.ProcesoKey, i.EmpresaKey, i.ScopeKey, i.Estado, i.FechaInicio, i.CreadoPor
        FROM dbo.WF_Instancia i
        WHERE i.Estado='EnCurso'
        ORDER BY i.FechaInicio DESC;
        RETURN;
    END

    -- Si NO es VerTodo, filtra por scopes permitidos (y opcionalmente proceso)
    SELECT TOP 200
        i.Id, i.ProcesoKey, i.EmpresaKey, i.ScopeKey, i.Estado, i.FechaInicio, i.CreadoPor
    FROM dbo.WF_Instancia i
    WHERE i.Estado='EnCurso'
      AND EXISTS (
          SELECT 1
          FROM dbo.WF_UserPermiso p
          WHERE p.UserKey=@UserKey
            AND p.Permiso='GERENTE_DASH'
            AND p.Activo=1
            AND (p.ScopeKey IS NULL OR p.ScopeKey = i.ScopeKey)
            AND (p.ProcesoKey IS NULL OR p.ProcesoKey = i.ProcesoKey)
      )
    ORDER BY i.FechaInicio DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Gerente_Historial]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[WF_Gerente_Historial]
    @UserKey nvarchar(200)
AS
BEGIN
    SET NOCOUNT ON;
	--Bandeja “Historial”
    IF EXISTS (
        SELECT 1
        FROM dbo.WF_UserPermiso p
        WHERE p.UserKey=@UserKey
          AND p.Permiso='GERENTE_DASH'
          AND p.Activo=1
          AND p.VerTodo=1
    )
    BEGIN
        SELECT TOP 200
            i.Id, i.ProcesoKey, i.EmpresaKey, i.ScopeKey, i.Estado, i.FechaInicio, i.FechaFin, i.CreadoPor
        FROM dbo.WF_Instancia i
        WHERE i.Estado IN ('Finalizado','Error')
        ORDER BY ISNULL(i.FechaFin, i.FechaInicio) DESC;
        RETURN;
    END

    SELECT TOP 200
        i.Id, i.ProcesoKey, i.EmpresaKey, i.ScopeKey, i.Estado, i.FechaInicio, i.FechaFin, i.CreadoPor
    FROM dbo.WF_Instancia i
    WHERE i.Estado IN ('Finalizado','Error')
      AND EXISTS (
          SELECT 1
          FROM dbo.WF_UserPermiso p
          WHERE p.UserKey=@UserKey
            AND p.Permiso='GERENTE_DASH'
            AND p.Activo=1
            AND (p.ScopeKey IS NULL OR p.ScopeKey = i.ScopeKey)
            AND (p.ProcesoKey IS NULL OR p.ProcesoKey = i.ProcesoKey)
      )
    ORDER BY ISNULL(i.FechaFin, i.FechaInicio) DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Gerente_Tareas_Cerradas_Mis]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[WF_Gerente_Tareas_Cerradas_Mis]
    @UserKey nvarchar(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserKeyFull nvarchar(200) = LTRIM(RTRIM(ISNULL(@UserKey, '')));
    DECLARE @UserKeyShort nvarchar(200) =
        CASE
            WHEN CHARINDEX('\', @UserKeyFull) > 0 THEN RIGHT(@UserKeyFull, LEN(@UserKeyFull) - CHARINDEX('\', @UserKeyFull))
            ELSE @UserKeyFull
        END;

    SELECT TOP 200
        t.Id,
        t.WF_InstanciaId,
        t.Titulo,
        t.Descripcion,
        t.RolDestino,
        t.AsignadoA,
        t.UsuarioAsignado,
        t.ScopeKey,
        t.Estado       AS TareaEstado,
        t.Resultado    AS TareaResultado,
        t.FechaCreacion,
        t.FechaVencimiento,
        t.FechaCierre  AS FechaCierre
    FROM dbo.WF_Tarea t
    WHERE t.Estado = 'Completada'
      AND (
            t.AsignadoA IN (@UserKeyFull, @UserKeyShort)
         OR t.UsuarioAsignado IN (@UserKeyFull, @UserKeyShort)
      )
    ORDER BY t.FechaCierre DESC, t.FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Gerente_Tareas_MisTareas]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[WF_Gerente_Tareas_MisTareas]
    @UserKey nvarchar(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserKeyFull nvarchar(200) = LTRIM(RTRIM(ISNULL(@UserKey, '')));
    DECLARE @UserKeyShort nvarchar(200) =
        CASE
            WHEN CHARINDEX('\', @UserKeyFull) > 0 THEN RIGHT(@UserKeyFull, LEN(@UserKeyFull) - CHARINDEX('\', @UserKeyFull))
            ELSE @UserKeyFull
        END;

    SELECT TOP 200
        t.Id,
        t.WF_InstanciaId,
        t.Titulo,
        t.Descripcion,
        t.RolDestino,
        t.AsignadoA,
        t.UsuarioAsignado,
        t.ScopeKey,
        t.Estado AS TareaEstado,
        t.FechaCreacion,
        t.FechaVencimiento,
		t.FechaCierre AS FechaCierre,
		t.Datos
    FROM dbo.WF_Tarea t
    WHERE t.Estado = 'Pendiente'
      AND (
            t.AsignadoA IN (@UserKeyFull, @UserKeyShort)
         OR t.UsuarioAsignado IN (@UserKeyFull, @UserKeyShort)
      )
    ORDER BY t.FechaVencimiento ASC, t.FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Gerente_Tareas_Pendientes_MiAlcance]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[WF_Gerente_Tareas_Pendientes_MiAlcance]
    @UserKey nvarchar(200)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM dbo.WF_UserPermiso p
        WHERE p.UserKey=@UserKey
          AND p.Permiso='GERENTE_DASH'
          AND p.Activo=1
          AND p.VerTodo=1
    )
    BEGIN
        SELECT TOP 200
            t.Id,
            t.WF_InstanciaId,
            i.ProcesoKey,
            i.EmpresaKey,
            t.ScopeKey,
            t.Titulo,
            t.RolDestino,
            t.AsignadoA,
            t.Estado AS TareaEstado,
            t.FechaCreacion,
            t.FechaVencimiento,
			t.FechaCierre AS FechaCierre,
			t.Datos
        FROM dbo.WF_Tarea t
        JOIN dbo.WF_Instancia i ON i.Id = t.WF_InstanciaId
        WHERE t.Estado='Pendiente'
		AND (t.AsignadoA IS NULL OR LTRIM(RTRIM(t.AsignadoA)) = '')
        ORDER BY t.FechaVencimiento ASC, t.FechaCreacion DESC;
        RETURN;
    END

    SELECT TOP 200
        t.Id,
        t.WF_InstanciaId,
        i.ProcesoKey,
        i.EmpresaKey,
        t.ScopeKey,
        t.Titulo,
        t.RolDestino,
        t.AsignadoA,
        t.Estado AS TareaEstado,
        t.FechaCreacion,
        t.FechaVencimiento,
		t.Datos
    FROM dbo.WF_Tarea t
    JOIN dbo.WF_Instancia i ON i.Id = t.WF_InstanciaId
    WHERE t.Estado='Pendiente'
	AND (t.AsignadoA IS NULL OR LTRIM(RTRIM(t.AsignadoA)) = '')
      AND EXISTS (
          SELECT 1
          FROM dbo.WF_UserPermiso p
          WHERE p.UserKey=@UserKey
            AND p.Permiso='GERENTE_DASH'
            AND p.Activo=1
            AND (p.ScopeKey IS NULL OR p.ScopeKey = t.ScopeKey)
            AND (p.ProcesoKey IS NULL OR p.ProcesoKey = i.ProcesoKey)
      )
    ORDER BY t.FechaVencimiento ASC, t.FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Gerente_Tareas_PorMiRol]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[WF_Gerente_Tareas_PorMiRol]
    @UserKey nvarchar(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserKeyFull nvarchar(200) = LTRIM(RTRIM(ISNULL(@UserKey, '')));
    DECLARE @UserKeyShort nvarchar(200) =
        CASE
            WHEN CHARINDEX('\', @UserKeyFull) > 0 THEN RIGHT(@UserKeyFull, LEN(@UserKeyFull) - CHARINDEX('\', @UserKeyFull))
            ELSE @UserKeyFull
        END;

    -- Si el usuario no tiene scopes cargados, lo dejamos ver todo (modo simple)
    DECLARE @TieneScopes bit = CASE WHEN EXISTS (
        SELECT 1 FROM dbo.WF_UsuarioScope s WHERE s.Usuario IN (@UserKeyFull, @UserKeyShort)
    ) THEN 1 ELSE 0 END;

    SELECT TOP 200
        t.Id,
        t.WF_InstanciaId,
        t.Titulo,
        t.Descripcion,
        t.RolDestino,
        t.AsignadoA,
        t.UsuarioAsignado,
        t.ScopeKey,
        t.Estado AS TareaEstado,
        t.FechaCreacion,
        t.FechaVencimiento,
		t.FechaCierre AS FechaCierre,
		t.Datos
    FROM dbo.WF_Tarea t
    WHERE t.Estado = 'Pendiente'
      AND (t.AsignadoA IS NULL OR t.AsignadoA = '')  -- no asignada a una persona
      AND EXISTS (
          SELECT 1
          FROM dbo.WF_UsuarioRol ur
          WHERE ur.Usuario IN (@UserKeyFull, @UserKeyShort)
            AND ur.Rol = t.RolDestino
      )
      AND (
            @TieneScopes = 0
         OR EXISTS (
              SELECT 1
              FROM dbo.WF_UsuarioScope us
              WHERE us.Usuario IN (@UserKeyFull, @UserKeyShort)
                AND us.ScopeKey = t.ScopeKey
         )
      )
    ORDER BY t.FechaVencimiento ASC, t.FechaCreacion DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Instancia_ActualizarBandejas]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[WF_Instancia_ActualizarBandejas]
    @InstanciaId bigint
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DefId int;
    DECLARE @ProcesoKey nvarchar(50);
    DECLARE @Empresa nvarchar(200);
    DECLARE @DatosContexto nvarchar(max);

    SELECT
        @DefId = i.WF_DefinicionId,
        @DatosContexto = i.DatosContexto
    FROM dbo.WF_Instancia i
    WHERE i.Id = @InstanciaId;

    -- ProcesoKey = WF_Definicion.Codigo (genérico, sin hardcode)
    SELECT
        @ProcesoKey = d.Codigo
    FROM dbo.WF_Definicion d
    WHERE d.Id = @DefId;

    -- Empresa desde JSON
    SET @Empresa = JSON_VALUE(@DatosContexto, '$.estado.input.empresa');

    -- Resolver ScopeKey por reglas
    DECLARE @ScopeKey nvarchar(50) = NULL;

    SELECT TOP 1
        @ScopeKey = r.ScopeKey
    FROM dbo.WF_ScopeRegla r
    WHERE (r.WF_DefinicionId IS NULL OR r.WF_DefinicionId = @DefId)
      AND (
            (r.MatchTipo = 'equals'   AND JSON_VALUE(@DatosContexto, r.CampoJson) = r.MatchValor)
         OR (r.MatchTipo = 'contains' AND JSON_VALUE(@DatosContexto, r.CampoJson) LIKE '%' + r.MatchValor + '%')
      )
    ORDER BY r.Id DESC;

    IF (@ScopeKey IS NULL) SET @ScopeKey = 'GLOBAL';

    UPDATE dbo.WF_Instancia
    SET ProcesoKey = @ProcesoKey,
        EmpresaKey = @Empresa,
        ScopeKey   = @ScopeKey
    WHERE Id = @InstanciaId;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Setting_Get]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[WF_Setting_Get]
    @SettingKey nvarchar(200),
    @ScopeKey   nvarchar(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- 1) Si hay valor específico por ScopeKey, gana
    SELECT TOP 1
        Value
    FROM dbo.WF_Setting
    WHERE Activo = 1
      AND SettingKey = @SettingKey
      AND ((@ScopeKey IS NOT NULL AND ScopeKey = @ScopeKey))
    ORDER BY UpdatedAt DESC;

    IF @@ROWCOUNT > 0 RETURN;

    -- 2) Fallback global (ScopeKey NULL)
    SELECT TOP 1
        Value
    FROM dbo.WF_Setting
    WHERE Activo = 1
      AND SettingKey = @SettingKey
      AND ScopeKey IS NULL
    ORDER BY UpdatedAt DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Tarea_Escalar_CrearNueva]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[WF_Tarea_Escalar_CrearNueva]
    @TareaIdOriginal  bigint,
    @NuevoRolDestino  nvarchar(200),
    @Motivo           nvarchar(200) = NULL,
    @Usuario          nvarchar(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Ahora datetime = GETDATE();

    BEGIN TRAN;

    DECLARE
        @WF_InstanciaId bigint,
        @NodoId nvarchar(100),
        @NodoTipo nvarchar(200),
        @Titulo nvarchar(400),
        @Descripcion nvarchar(max),
        @ScopeKey nvarchar(200),
        @FechaVencimiento datetime,
        @Datos nvarchar(max),
        @RolDestinoOriginal nvarchar(200);

    SELECT
        @WF_InstanciaId = t.WF_InstanciaId,
        @NodoId = t.NodoId,
        @NodoTipo = t.NodoTipo,
        @Titulo = t.Titulo,
        @Descripcion = t.Descripcion,
        @ScopeKey = t.ScopeKey,
        @FechaVencimiento = t.FechaVencimiento,
        @Datos = t.Datos,
        @RolDestinoOriginal = t.RolDestino
    FROM dbo.WF_Tarea t WITH (UPDLOCK, ROWLOCK)
    WHERE t.Id = @TareaIdOriginal;

    IF @WF_InstanciaId IS NULL
    BEGIN
        ROLLBACK;
        RAISERROR('Tarea no encontrada: %d', 16, 1, @TareaIdOriginal);
        RETURN;
    END

    IF EXISTS (SELECT 1 FROM dbo.WF_Tarea WHERE Id=@TareaIdOriginal AND Estado <> 'Pendiente')
    BEGIN
        ROLLBACK;
        RAISERROR('La tarea ya no está Pendiente.', 16, 1);
        RETURN;
    END

    DECLARE @JsonBase nvarchar(max) =
        CASE WHEN ISJSON(@Datos) = 1 THEN @Datos ELSE N'{}' END;

    -- 1) Cerrar original
    UPDATE dbo.WF_Tarea
       SET Estado = 'Completada',
           Resultado = 'Escalada',
           FechaCierre = @Ahora,
           Datos = JSON_MODIFY(
                    JSON_MODIFY(
                      JSON_MODIFY(
                        JSON_MODIFY(@JsonBase, '$.escalado', 'true'),
                        '$.escaladoEn', CONVERT(varchar(33), @Ahora, 126)
                      ),
                      '$.escaladoMotivo', ISNULL(@Motivo,'SLA vencido')
                    ),
                    '$.escaladoPor', ISNULL(@Usuario,'system')
                  )
     WHERE Id = @TareaIdOriginal;

    -- 2) JSON nueva tarea
    DECLARE @JsonNueva nvarchar(max) = @JsonBase;

    -- limpiar flags del original
    SET @JsonNueva = JSON_MODIFY(@JsonNueva, '$.escalado', NULL);
    SET @JsonNueva = JSON_MODIFY(@JsonNueva, '$.escaladoEn', NULL);
    SET @JsonNueva = JSON_MODIFY(@JsonNueva, '$.escaladoMotivo', NULL);
    SET @JsonNueva = JSON_MODIFY(@JsonNueva, '$.escaladoPor', NULL);

    -- NO heredar “encolado” del original
    SET @JsonNueva = JSON_MODIFY(@JsonNueva, '$.escalamientoEncolado', NULL);
    SET @JsonNueva = JSON_MODIFY(@JsonNueva, '$.escalamientoEncoladoEn', NULL);
    SET @JsonNueva = JSON_MODIFY(@JsonNueva, '$.escalamientoEncoladoMotivo', NULL);

    -- ✅ ORIGEN como objeto completo (robusto)
    DECLARE @OrigenObj nvarchar(max) =
        N'{' +
        N'"tareaId":"' + CONVERT(nvarchar(50), @TareaIdOriginal) + N'",' +
        N'"motivo":"' + STRING_ESCAPE(ISNULL(@Motivo,'SLA vencido'), 'json') + N'",' +
        N'"rolOriginal":"' + STRING_ESCAPE(ISNULL(@RolDestinoOriginal,''), 'json') + N'",' +
        N'"rolNuevo":"' + STRING_ESCAPE(ISNULL(@NuevoRolDestino,''), 'json') + N'",' +
        N'"creadaEn":"' + CONVERT(nvarchar(33), @Ahora, 126) + N'",' +
        N'"creadaPor":"' + STRING_ESCAPE(ISNULL(@Usuario,'system'), 'json') + N'"' +
        N'}';

    SET @JsonNueva = JSON_MODIFY(@JsonNueva, '$.origenEscalamiento', JSON_QUERY(@OrigenObj));

    -- si por alguna razón quedara inválido, cortamos (no insertamos basura)
    IF ISJSON(@JsonNueva) <> 1
    BEGIN
        ROLLBACK;
        RAISERROR('JsonNueva inválido luego de construir origenEscalamiento.', 16, 1);
        RETURN;
    END

    -- 3) Crear nueva tarea
    DECLARE @NuevaTareaId bigint;

    INSERT INTO dbo.WF_Tarea
        (WF_InstanciaId, NodoId, NodoTipo, Titulo, Descripcion,
         RolDestino, UsuarioAsignado, Estado, Resultado,
         FechaCreacion, FechaVencimiento, FechaCierre, Datos, ScopeKey, AsignadoA,
         OrigenTareaId)
    VALUES
        (@WF_InstanciaId, @NodoId, @NodoTipo, @Titulo, @Descripcion,
         @NuevoRolDestino, NULL, 'Pendiente', NULL,
         @Ahora, NULL, NULL,
         @JsonNueva,
         @ScopeKey, NULL,
         @TareaIdOriginal);

    SET @NuevaTareaId = SCOPE_IDENTITY();

    COMMIT;

    SELECT
        @TareaIdOriginal AS TareaOriginalId,
        @NuevaTareaId    AS TareaNuevaId,
        @RolDestinoOriginal AS RolOriginal,
        @NuevoRolDestino AS RolNuevo;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Tarea_Escalar_CrearNueva_OMAR]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[WF_Tarea_Escalar_CrearNueva_OMAR]
    @TareaIdOriginal  bigint,
    @NuevoRolDestino  nvarchar(200),
    @Motivo           nvarchar(200) = NULL,
    @Usuario          nvarchar(200) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    DECLARE @Ahora datetime = GETDATE();

    -- Validación mínima
    IF @TareaIdOriginal IS NULL OR @TareaIdOriginal <= 0
    BEGIN
        RAISERROR('TareaIdOriginal inválido.', 16, 1);
        RETURN;
    END

    IF NULLIF(LTRIM(RTRIM(@NuevoRolDestino)), '') IS NULL
    BEGIN
        RAISERROR('NuevoRolDestino es requerido.', 16, 1);
        RETURN;
    END

    BEGIN TRAN;

    -- 1) Tomo la tarea original con lock (evita dobles escalados)
    DECLARE
        @WF_InstanciaId bigint,
        @NodoId nvarchar(100),
        @NodoTipo nvarchar(200),
        @Titulo nvarchar(400),
        @Descripcion nvarchar(max),
        @ScopeKey nvarchar(200),
        @FechaVencimiento datetime,
        @Datos nvarchar(max),
        @RolDestinoOriginal nvarchar(200);

    SELECT
        @WF_InstanciaId = t.WF_InstanciaId,
        @NodoId = t.NodoId,
        @NodoTipo = t.NodoTipo,
        @Titulo = t.Titulo,
        @Descripcion = t.Descripcion,
        @ScopeKey = t.ScopeKey,
        @FechaVencimiento = t.FechaVencimiento,
        @Datos = t.Datos,
        @RolDestinoOriginal = t.RolDestino
    FROM dbo.WF_Tarea t WITH (UPDLOCK, ROWLOCK)
    WHERE t.Id = @TareaIdOriginal;

    IF @WF_InstanciaId IS NULL
    BEGIN
        ROLLBACK;
        RAISERROR('Tarea no encontrada: %d', 16, 1, @TareaIdOriginal);
        RETURN;
    END

    -- Si ya no está pendiente, no escalamos
    IF EXISTS (SELECT 1 FROM dbo.WF_Tarea WHERE Id=@TareaIdOriginal AND Estado <> 'Pendiente')
    BEGIN
        ROLLBACK;
        RAISERROR('La tarea ya no está Pendiente.', 16, 1);
        RETURN;
    END

    -- Si ya fue escalada (ejecutada), no duplicamos
    IF JSON_VALUE(ISNULL(@Datos,'{}'), '$.escalado') = 'true'
    BEGIN
        ROLLBACK;
        RAISERROR('La tarea ya fue escalada (ejecutada).', 16, 1);
        RETURN;
    END

    -- 2) Cerrar original (Completada + Resultado Escalada)
    UPDATE dbo.WF_Tarea
       SET Estado = 'Completada',
           Resultado = 'Escalada',
           FechaCierre = @Ahora,
           Datos =
              JSON_MODIFY(
                JSON_MODIFY(
                  JSON_MODIFY(
                    JSON_MODIFY(
                      JSON_MODIFY(ISNULL(Datos,'{}'),
                        '$.escalado', 'true'
                      ),
                      '$.escaladoEn', CONVERT(varchar(33), @Ahora, 126)
                    ),
                    '$.escaladoMotivo', ISNULL(@Motivo,'SLA vencido')
                  ),
                  '$.escaladoPor', ISNULL(NULLIF(LTRIM(RTRIM(@Usuario)),''), 'system')
                ),
                '$.escalamientoEncolado', NULL  -- limpia flag de encolado si existía
              )
     WHERE Id = @TareaIdOriginal;

    -- 3) Crear nueva tarea (Pendiente) con rol escalado
    DECLARE @NuevaTareaId bigint;

    INSERT INTO dbo.WF_Tarea
        (WF_InstanciaId, NodoId, NodoTipo, Titulo, Descripcion,
         RolDestino, UsuarioAsignado, Estado, Resultado,
         FechaCreacion, FechaVencimiento, FechaCierre, Datos, ScopeKey, AsignadoA)
    VALUES
        (
         @WF_InstanciaId, @NodoId, @NodoTipo, @Titulo, @Descripcion,
         @NuevoRolDestino, NULL, 'Pendiente', NULL,
         @Ahora,
         @FechaVencimiento,   -- ✅ mantiene SLA en la tarea escalada (profesional)
         NULL,
         JSON_MODIFY(
           JSON_MODIFY(
             JSON_MODIFY(
               JSON_MODIFY(ISNULL(@Datos,'{}'),
                 '$.origenEscalamiento.tareaId', CONVERT(varchar(50), @TareaIdOriginal)
               ),
               '$.origenEscalamiento.rolOriginal', ISNULL(@RolDestinoOriginal,'')
             ),
             '$.origenEscalamiento.motivo', ISNULL(@Motivo,'SLA vencido')
           ),
           '$.origenEscalamiento.escaladoEn', CONVERT(varchar(33), @Ahora, 126)
         ),
         @ScopeKey, NULL
        );

    SET @NuevaTareaId = SCOPE_IDENTITY();

    COMMIT;

    SELECT
        @TareaIdOriginal AS TareaOriginalId,
        @NuevaTareaId AS TareaNuevaId,
        @RolDestinoOriginal AS RolOriginal,
        @NuevoRolDestino AS RolNuevo;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Tarea_Escalar_Pendientes]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WF_Tarea_Escalar_Pendientes]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @Ahora datetime = GETDATE();

    -- 1) Tomamos el lote a encolar UNA sola vez
    ;WITH CTE AS (
        SELECT TOP 50
            t.Id,
            t.WF_InstanciaId,
            t.Titulo,
            t.RolDestino,
            t.ScopeKey,
            t.FechaVencimiento,
            t.Datos
        FROM dbo.WF_Tarea t
        WHERE t.Estado = 'Pendiente'
          AND t.FechaVencimiento IS NOT NULL
          AND t.FechaVencimiento < @Ahora
          AND (t.AsignadoA IS NULL OR LTRIM(RTRIM(t.AsignadoA)) = '')
          AND (
                t.Datos IS NULL
             OR JSON_VALUE(CASE WHEN ISJSON(t.Datos)=1 THEN t.Datos ELSE N'{}' END, '$.escalamientoEncolado') IS NULL
             OR JSON_VALUE(CASE WHEN ISJSON(t.Datos)=1 THEN t.Datos ELSE N'{}' END, '$.escalamientoEncolado') <> 'true'
          )
        ORDER BY t.FechaVencimiento ASC
    )
    SELECT *
    INTO #Escalar
    FROM CTE;

    IF NOT EXISTS (SELECT 1 FROM #Escalar)
        RETURN;

    -- 2) Marcar SOLO "encolado" (NO marcar "escalado" acá)
    UPDATE t
    SET Datos =
        JSON_MODIFY(
            JSON_MODIFY(
                JSON_MODIFY(
                    CASE WHEN ISJSON(t.Datos)=1 THEN t.Datos ELSE N'{}' END,
                    '$.escalamientoEncolado', 'true'
                ),
                '$.escalamientoEncoladoEn', CONVERT(varchar(33), @Ahora, 126)
            ),
            '$.escalamientoEncoladoMotivo', 'SLA vencido'
        )
    FROM dbo.WF_Tarea t
    INNER JOIN #Escalar c ON c.Id = t.Id;

    -- 3) Encolar evento en WF_Queue
    -- ✅ B1 (IDEMPOTENCIA): si ya existe un mensaje pendiente para esa tarea, NO encolamos de nuevo
    INSERT INTO dbo.WF_Queue
        (Queue, CorrelationId, Payload, CreatedAt, DueAt, Priority, Processed, Attempts)
    SELECT
        'wf.escalamiento' AS Queue,
        CAST(c.Id AS nvarchar(100)) AS CorrelationId,
        CONCAT(
            '{',
              '"tipo":"SLA_ESCALADO",',
              '"tareaId":', c.Id, ',',
              '"instanciaId":', c.WF_InstanciaId, ',',
              '"rolDestino":"', ISNULL(REPLACE(c.RolDestino,'"','\"'), ''), '",',
              '"scopeKey":"', ISNULL(REPLACE(c.ScopeKey,'"','\"'), ''), '",',
              '"titulo":"', ISNULL(REPLACE(REPLACE(c.Titulo,'"','\"'), CHAR(10),' '), ''), '",',
              '"fechaVencimiento":"', CONVERT(varchar(33), c.FechaVencimiento, 126), '",',
              '"escaladoEn":"', CONVERT(varchar(33), @Ahora, 126), '"',
            '}'
        ) AS Payload,
        @Ahora AS CreatedAt,
        NULL AS DueAt,
        10 AS Priority,
        0 AS Processed,
        0 AS Attempts
    FROM #Escalar c
    WHERE NOT EXISTS (
        SELECT 1
        FROM dbo.WF_Queue q WITH (READPAST)
        WHERE q.Queue = 'wf.escalamiento'
          AND q.Processed = 0
          AND q.CorrelationId = CAST(c.Id AS nvarchar(100))
    );

END
GO
/****** Object:  StoredProcedure [dbo].[WF_Tarea_Get]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[WF_Tarea_Get]
    @TareaId bigint
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        -- WF_Tarea
        t.Id                 AS TareaId,
        t.WF_InstanciaId     AS InstanciaId,
        t.NodoId,
        t.NodoTipo,
        t.Titulo,
        t.Descripcion,
        t.RolDestino,
        t.UsuarioAsignado,
        t.AsignadoA,
        t.Estado             AS TareaEstado,
        t.Resultado			 AS TareaResultado,
        t.FechaCreacion,
        t.FechaVencimiento,
        t.FechaCierre		 AS TareaFechaCierre,
        t.Datos              AS DatosTareaJson,
        t.ScopeKey           AS TareaScopeKey,

        -- WF_Instancia
        i.Estado             AS InstanciaEstado,
        i.FechaInicio,
        i.FechaFin,
        i.CreadoPor,
        i.DatosEntrada       AS DatosEntradaJson,
        i.DatosContexto      AS DatosContextoJson,
        i.ProcesoKey,
        i.ScopeKey           AS InstanciaScopeKey,
        i.EmpresaKey,
        i.DocTipoId,

        -- WF_Definicion (Proceso)
        d.Codigo             AS DefCodigo,
        d.Nombre             AS DefNombre,
        d.Version            AS DefVersion
    FROM dbo.WF_Tarea t
    JOIN dbo.WF_Instancia i   ON i.Id = t.WF_InstanciaId
    JOIN dbo.WF_Definicion d  ON d.Id = i.WF_DefinicionId
    WHERE t.Id = @TareaId;
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Tarea_Historial]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[WF_Tarea_Historial]
    @TareaId bigint
AS
BEGIN
    SET NOCOUNT ON;

    IF @TareaId IS NULL OR @TareaId <= 0
    BEGIN
        SELECT CAST(0 AS int) AS ok, 'TareaId inválido' AS error;
        RETURN;
    END

    ;WITH BackChain AS (
        -- arrancamos desde la tarea indicada
        SELECT
            t.Id,
            t.OrigenTareaId,
            0 AS lvl
        FROM dbo.WF_Tarea t
        WHERE t.Id = @TareaId

        UNION ALL

        -- subimos hacia la raíz
        SELECT
            t2.Id,
            t2.OrigenTareaId,
            bc.lvl + 1
        FROM dbo.WF_Tarea t2
        INNER JOIN BackChain bc ON bc.OrigenTareaId = t2.Id
    ),
    Root AS (
        SELECT TOP (1) Id AS RootId
        FROM BackChain
        ORDER BY lvl DESC
    ),
    FwdChain AS (
        -- desde raíz hacia adelante
        SELECT
            t.Id,
            t.OrigenTareaId,
            0 AS nivel
        FROM dbo.WF_Tarea t
        CROSS JOIN Root r
        WHERE t.Id = r.RootId

        UNION ALL

        -- siguiente tarea: la que tenga OrigenTareaId = Id actual
        SELECT
            t2.Id,
            t2.OrigenTareaId,
            fc.nivel + 1
        FROM dbo.WF_Tarea t2
        INNER JOIN FwdChain fc ON t2.OrigenTareaId = fc.Id
    )
    SELECT
        1 AS ok,
        t.Id,
        t.WF_InstanciaId,
        t.NodoId,
        t.NodoTipo,
        t.Titulo,
        t.RolDestino,
        t.Estado,
        t.Resultado,
        t.FechaCreacion,
        t.FechaVencimiento,
        t.FechaCierre,
        t.AsignadoA,
        t.ScopeKey,
        t.OrigenTareaId,
        fc.nivel AS Nivel,
        JSON_QUERY(t.Datos, '$.origenEscalamiento') AS OrigenEscalamientoObj,
        t.Datos
    FROM FwdChain fc
    JOIN dbo.WF_Tarea t ON t.Id = fc.Id
    ORDER BY fc.nivel ASC
    OPTION (MAXRECURSION 100);
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Tarea_Liberar]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[WF_Tarea_Liberar]
    @TareaId bigint,
    @UserKey nvarchar(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserKeyFull nvarchar(200) = LTRIM(RTRIM(ISNULL(@UserKey, '')));
    DECLARE @UserKeyShort nvarchar(200) =
        CASE
            WHEN CHARINDEX('\', @UserKeyFull) > 0
                THEN RIGHT(@UserKeyFull, LEN(@UserKeyFull) - CHARINDEX('\', @UserKeyFull))
            ELSE @UserKeyFull
        END;

    -- Solo el dueño puede liberar
    UPDATE dbo.WF_Tarea
    SET
        AsignadoA = NULL,
        UsuarioAsignado = NULL
    WHERE Id = @TareaId
      AND Estado = 'Pendiente'
      AND (
            AsignadoA IN (@UserKeyFull, @UserKeyShort)
         OR UsuarioAsignado IN (@UserKeyFull, @UserKeyShort)
      );

    IF @@ROWCOUNT = 0
        RAISERROR('No se pudo liberar la tarea (no sos el asignado o no está pendiente).', 16, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[WF_Tarea_Tomar]    Script Date: 21/1/2026 08:43:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[WF_Tarea_Tomar]
    @TareaId   int,
    @UserKey   nvarchar(200)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @UserKeyFull  nvarchar(200) = LTRIM(RTRIM(ISNULL(@UserKey, '')));
    DECLARE @UserKeyShort nvarchar(200) =
        CASE
            WHEN CHARINDEX('\', @UserKeyFull) > 0
                THEN RIGHT(@UserKeyFull, LEN(@UserKeyFull) - CHARINDEX('\', @UserKeyFull))
            ELSE @UserKeyFull
        END;

    UPDATE dbo.WF_Tarea
    SET
        AsignadoA        = @UserKeyFull,
        UsuarioAsignado = @UserKeyShort
    WHERE Id = @TareaId
      AND Estado = 'Pendiente'
      AND (AsignadoA IS NULL OR AsignadoA = '');

    IF @@ROWCOUNT = 0
    BEGIN
        RAISERROR('La tarea ya fue tomada o no está disponible.', 16, 1);
        RETURN;
    END
END
GO
