# VS / build
.vs/
bin/
obj/
[Bb]uild/
[Rr]elease/
[Dd]ebug/
*.user
*.suo
*.userosscache
*.sln.docstates

# Packages
packages/
*.nupkg

# Logs / cache
*.log
*.cache
*.tmp
*.temp
*.ide/
*.DS_Store
Thumbs.db

# Publicaciones
*.Publish.xml
*.pubxml
*.pubxml.user

# Secretos locales (no subir)
Web.Local.config
AppSettings.Private.config
ConnectionStrings.Private.config
MailSettings.Private.config
